<div class="problem-designer-3x3">
  <div class="problem-canvas-container-3x3">
    {{problem-canvas-3x3}}
  </div>
  <div class="figure-list-container">
    {{figure-list title="List of Figures" figures=model filterFigureList=(action 'filterFigureList') autoComplete=(action 'autoComplete') search=(action 'search')}}
  </div>
</div>