<div class="figure-list-component">
  <h2>{{title}}</h2>

  {{filter-figure-list filteredList=filteredList autoComplete=(action 'autoComplete') search=(action 'search')}}

  <div class="figure-list">
    {{#each figures as |figure|}}
      {{ravens-figure figure=figure}}
    {{/each}}
  </div>
</div>
