      <div class="figure">
        <span class="figure-name">{{figure.name}}:</span>
        <img class="figure-image" id="ravens-figure-{{figure.name}}" src="data:image/png;base64,{{figure.visual}}" title="{{figure.verbalAsString}}">
      </div>
